* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(27, 27, 32);
  margin: 0;
  overflow-y: auto; /* allow vertical scrolling for Safari tab restoration bug recovery */
  overflow-x: hidden; /* prevent horizontal scrolling */
}

html {
  overflow-y: auto; /* allow vertical scrolling for Safari tab restoration bug recovery */
  overflow-x: hidden; /* prevent horizontal scrolling */
}
