@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap');

.App {
  height: 100vh;
  width: 100vw;
}

.leaflet-container {
  width: 90%;
  height: 75vh;
}


.title, h1 {
  height: 1em;
  width: 90%;
  font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
  margin: 2.6vh 0 3.3vh 0;
  color: whitesmoke;
  text-align: center;
  font-size: clamp(26px, 6.3vw, 62px);
}

.leaflet-bar a {
  background-color: rgb(27, 27, 32);
  border-bottom: 1px solid rgb(178, 178, 178);
  color: rgb(209, 209, 209);
  &:hover {
    background-color: #0c75d2;
  }
  &:focus {
    background-color: #04437a;
  }
}