.leaflet-container {
  width: 85%;
  height: 80vh;
}


h1 {
  font-family: 'Courier New', Courier, monospace;
}

.leaflet-bar a {
  background-color: rgb(27, 27, 32);
  color: whitesmoke;
  &:hover {
    background-color: #0c75d2;
  }
  &:focus {
    background-color: #04437a;
  }
}