.drawer-slide-in {
  min-height: 60px;
  max-height: 40%;
  top: 44%;
  position: fixed;
  z-index: 2000;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  border-bottom-right-radius: 5px;
  background-color: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  opacity: 55%;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  overflow-x: hidden;
  transition: opacity, left, 750ms ease; // two commas

  .drawer-left-outer {
    width: 100%;
    opacity: 0%;
    display: flex;
    flex-direction: column;
    transition: opacity 500ms ease; // was 1.5s on startAnimation style

    .drawer-left-container {
      height: 100%;
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: clamp(8px, 3.25vw, 14px);
      line-height: 1.8;
      padding-top: 5px;
      margin: 0px;

      .show-list-item {
        width: 99%;
        border-radius: 5px;
        border: 2px solid rgb(243 243 254);
        padding: 0px 2px 0px 4px;
        margin: 4px 0px 4px 0px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        &:hover {
          background-color: rgb(246 200 209);
          border: 2px solid rgb(246 200 209);
        }

        .artist-name {
          list-style-type: none;
          font-weight: 600;
        }

        .event-time {
          min-width: 35px;
          margin-left: 4px;
          color: rgb(228, 82, 111);
          font-weight: 600;
          font-size: 13px;
          display: flex;
          justify-content: center;
        }
        li {
          padding-left: 2px;
          padding-right: 2px;
        }
        .show-list-description {
          padding-left: 5px;
          list-style-type: none;
          display: flex;
          align-items: center;

          .drawer-ticket-span-icon {
            width: 20px;
            display: flex;
            align-items: center;
            height: 20px;
            background-color: rgb(255, 233, 208);
            border-radius: 50%;
            border: none;
            padding: 0;
            &:hover {
              background-color: rgb(255, 181, 96);
            }
            img {
              width: 18px;
              opacity: 75%;
              cursor: pointer;
              &:hover {
                opacity: 100%;
              }
            }
          }
          a {
            margin-left: 4px;
            color: #124e83;
            // &:hover {
            //   color:#0088ff;
            // }
          }
        }
      }
    }
  }
}

.button-wrapper {
  opacity: 55%;
  top: 44%;
  height: 55px;
  position: fixed;
  z-index: 3000;
  transition: left 750ms ease;

  animation: 4s ease 0s normal forwards 1 drawerButtonFadeIn;
  -webkit-animation: 4s ease 0s normal forwards 1 drawerButtonFadeIn;
  -moz-animation: 4s ease 0s normal forwards 1 drawerButtonFadeIn;
  -o-animation: 4s ease 0s normal forwards 1 drawerButtonFadeIn;
  -ms-animation: 4s ease 0s normal forwards 1 drawerButtonFadeIn;

  button {
    height: 100%;
    width: 100%;
    border: 2px solid rgb(255, 255, 255);
    border-left: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgba(255, 255, 255, 0.807);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms ease;

    .drawer-button-icon {
      height: 100%;
      filter: invert(40%);
      &:hover {
        filter: invert(0%);
      }
      transition-property: opacity, filter;
      transition-duration: 300ms;
      transition-timing-function: ease-in;
    }
    .close-drawer-icon {
      width: 80%;
      height: 60%;
      filter: invert(90%);
      &:hover {
        filter: invert(70%);
      }
      transition-property: opacity, filter;
      transition-duration: 300ms;
      transition-timing-function: ease;
    }
  }
}
