.drawer-slide-in {
  min-height: fit-content;
  max-height: 40%;
  // width: 90%; // mobile
  width: 35%; // desktop
  top: 46%;
  // left: -420px;
  left: 0px;
  position: fixed;
  z-index: 1000;
  border-right: 10px solid white;
  // border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  opacity: 85%;

  // overflow: hidden;
  overflow: scroll;
  overflow-x: hidden;

  display: flex;
  justify-content: space-between;

  .button-wrapper {
    height: 50px;
    z-index: 1000;
    // left: -420px;
    // margin-left: 90%; // mobile
  margin-left: 35%; // desktop
    position: fixed;
    z-index: 3000;
    button {
      height: 100%;
      border: none;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      background-color: white;
    }
  }

  .drawer-left-outer {
    display: flex;
    flex-direction: column;

    .drawer-left-container {
      height: 100%;
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: clamp(8px, 3.25vw, 14px);
      line-height: 1.8;
      // padding-left: 2px; // mobile
      padding-left: 15px; // desktop

      // overflow: scroll;
      // overflow-x: hidden;

      .show-list-item {
        display: flex;
        padding-left: 5px;
        list-style-type: none;
        cursor: pointer;
        li {
          padding-left: 4px;
          padding-right: 4px;
        }
        .show-list-description {
          padding-left: 5px;
          list-style-type: none;
          display: flex;
        }
      }
    }
  }
}

// .button-wrapper {
//   height: 50px;
//   z-index: 1000;
//   // left: -420px;
//   margin-left: 90%; // mobile
// // margin-left: 35%; // desktop
//   position: fixed;
//   z-index: 3000;
//   button {
//     height: 100%;
//     border: none;
//     border-top-right-radius: 12px;
//     border-bottom-right-radius: 12px;
//     background-color: white;
//   }
// }