.drawer-slide-in {
  min-height: fit-content;
  max-height: 40%;
  // width: 90%; // mobile
  width: 35%; // desktop
  top: 46%;
  left: -465px;
  // left: 0px; // when open
  position: fixed;
  z-index: 1000;
  border-right: 10px solid white;
  border-bottom-right-radius: 12px;
  background-color: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  opacity: 55%;
  // opacity: 85%; // when open
  display: flex;
  justify-content: space-between;
  // overflow: hidden;
  overflow: scroll; // TODO: FIX
  overflow-x: hidden;

  transition: left, opacity, 750ms ease;

  .button-wrapper {
    height: 55px;
    width: 45px;
    z-index: 1000;
    // margin-left: 90%; // mobile
    margin-left: 35%; // desktop
    position: fixed;
    z-index: 3000;

    animation: 6s ease 0s normal forwards 1 drawerButtonFadeIn;
    -webkit-animation: 6s ease 0s normal forwards 1 drawerButtonFadeIn;
    -moz-animation: 6s ease 0s normal forwards 1 drawerButtonFadeIn;
    -o-animation: 6s ease 0s normal forwards 1 drawerButtonFadeIn;
    -ms-animation: 6s ease 0s normal forwards 1 drawerButtonFadeIn;

    button {
      height: 100%;
      width: 100%;
      border: 2px solid rgb(255, 255, 255);
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      background-color: rgba(255, 255, 255, 0.807);
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: background-color 250ms ease;

      // &:hover {
      //   background-color: rgb(255, 255, 255);
      // }

      .drawer-button-icon {
        width: 105%;
        height: 100%;
        margin-left: 2px;
        filter: invert(35%);
        &:hover {
          filter: invert(0%);
        }
        transition: filter 250ms ease;
      }
    }
  }

  .drawer-left-outer {
    width: 100%;
    opacity: 0%;
    display: flex;
    flex-direction: column;
    transition: opacity 250ms ease;

    .drawer-left-container {
      height: 100%;
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: clamp(8px, 3.25vw, 14px);
      line-height: 1.8;
      // padding-left: 2px; // mobile
      padding-left: 15px; // desktop

      // overflow: scroll;
      // overflow-x: hidden;

      .show-list-item {
        width: 99%;
        // padding-left: 5px;
        border-radius: 5px;
        border: 2px solid rgb(243 243 254);
        padding: 0px 2px 0px 4px;
        margin: 4px 0px 4px 0px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        &:hover {
          background-color: rgb(246 200 209);
          border: 2px solid rgb(246 200 209);
        }

        .artist-name {
          list-style-type: none;
          font-weight: 600;
        }

        .event-time {
          min-width: 35px;
          margin-left: 4px;
          color: rgb(228, 82, 111);
          font-weight: 600;
          font-size: 13px;
          display: flex;
          justify-content: center;
        }
        li {
          padding-left: 2px;
          padding-right: 2px;
        }
        .show-list-description {
          padding-left: 5px;
          list-style-type: none;
          display: flex;
        }
      }
    }
  }
}
