.artist-list {
  width: 100%;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .artist {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
  }

  li:first-child button {
    height: 30px;
    font-size: 14px;
    // background-color: rgb(240, 240, 240);
    background-color: rgb(246 200 209);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;

    &:hover {
      background-color: #83bfff56;
    }
  }

  button {
    width: 100%;
    background-color: white;
    border: none;
    padding: 6px 10px;
    margin-top: 5px;
    text-align: start;

    &:hover {
      background-color: #72b6ff1f;
    }
  }
  .music-link {
    width: 13.5%;
    margin-left: 6px;
    padding: 0 0 0 3px;
    align-items: center;
    cursor: pointer;
    &:disabled {
      background-color: rgb(240, 240, 240);
      cursor:auto;
      &:hover {
        background-color: rgb(240, 240, 240);
      }
      img {
        opacity: 65%;
      }
    }
    img {
      max-width: 26px;
    }
  }
  .ticket-span-icon {
    position: relative;
    bottom: 2px;
    img {
      max-width: 22px;
      opacity: 75%;
    }
  }
}

.marker-player-controls {
  height: 30px;
  width: 275px;
  margin-bottom: 10px;

  .chakra-spinner {
    height: 25px;
    width: 25px;
    margin-left: 5px;
    color: rgb(167, 167, 167);
  }

  button {
    height: 100%;
    width: 100%;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    &:hover {
      background-color: #83bfff56;
      .media-buttons,
      img {
        opacity: 100%;
        filter: invert(1);
      }
    }
    .media-buttons,
    img {
      height: 20px;
      width: 20px;
      opacity: 75%;
      animation: 150ms ease-in fadeIn;
      -webkit-animation: 150ms ease-in fadeIn;
      -moz-animation: 150ms ease-in fadeIn;
      -o-animation: 150ms ease-in fadeIn;
      -ms-animation: 150ms ease-in fadeIn;
      filter: invert(0.2);
      &:hover {
        opacity: 100%;
        filter: invert(0);
      }
    }
    &:disabled {
      height: 100%;
      width: 100%;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      background-color: rgb(240, 240, 240);
      display: flex;
      align-items: center;
      pointer-events: none;
      .media-buttons,
      img {
        filter: invert(0.6);
      }
    }
  }
}