.dot1 {
  animation: visibility 3s linear infinite;
  -webkit-animation: visibility 3s linear infinite;
  -moz-animation: visibility 3s linear infinite;
  -o-animation: visibility 3s linear infinite;
  -ms-animation: visibility 3s linear infinite;
}

@keyframes visibility {
  0% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }

  66% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.dot2 {
  animation: visibility2 3s linear infinite;
  -webkit-animation: visibility2 3s linear infinite;
  -moz-animation: visibility2 3s linear infinite;
  -o-animation: visibility2 3s linear infinite;
  -ms-animation: visibility2 3s linear infinite;
}

@keyframes visibility2 {
  0% {
    opacity: 0;
  }

  21% {
    opacity: 0.5;
  }

  22% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }

  66% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.dot3 {
  animation: visibility3 3s linear infinite;
  -webkit-animation: visibility3 3s linear infinite;
  -moz-animation: visibility3 3s linear infinite;
  -o-animation: visibility3 3s linear infinite;
  -ms-animation: visibility3 3s linear infinite;
}

@keyframes visibility3 {
  0% {
    opacity: 0;
  }

  43% {
    opacity: 0.5;
  }

  44% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }

  66% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}