.map-main {
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.title-show {
  font-weight: 200;
  // title fades
  animation: fadeIn 5000ms ease-out;
  -webkit-animation: fadeIn 5000ms ease-out;
  -moz-animation: fadeIn 5000ms ease-out;
  -o-animation: fadeIn 5000ms ease-out;
  -ms-animation: fadeIn 5000ms ease-out;
}

.title-container {
  width: 100%;
  padding: 38px 0;
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.wait-container {
  display: flex;
  justify-content: center;
  transition: opacity 1400ms ease-out;

  .title-wait,
  .loading-dots {
    font-style: italic;
    font-weight: 100;
  }
  .pls-allow {
    opacity: 0.6;
    font-style: normal;
    font-weight: lighter;
  }
}

#loading-dots {
  letter-spacing: 3px;
  padding-left: 3px;
}

.title-now-playing {
  font-weight: 100;
  white-space: nowrap;
  overflow-x: clip;
  transition: opacity 500ms ease-out;
}
.scroll-text {
  // -moz-transform: translateX(100%);
  // -webkit-transform: translateX(100%);
  // transform: translateX(100%);
  -moz-animation: slideLeft 13s linear infinite;
  -webkit-animation: slideLeft 13s linear infinite;
  animation: slideLeft 13s linear infinite;
}

//

.controls-top {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 30px;
  margin-bottom: 20px;
  background: #003768;
  background: linear-gradient(
    90deg,
    rgb(0, 50, 93) 15%,
    rgba(27, 66, 101, 1) 46%,
    rgba(87, 114, 138, 1) 96%
  );
}

.city-input {
  display: flex;
  width: 100%;
  height: 100%;
  input,
  button {
    // height: 100%;
    width: 46%;
    max-width: 221px;
    color: rgba(245, 245, 245, 0.866);
    font-weight: 600;
    background-color: #d6e5f100;
    border: 3px solid #57728a;
    padding-left: 6px;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #001b32;
    }
  }

  input {
    border-radius: 0;
    transition: background-color 100ms ease;
  }

  ::placeholder {
    color: rgba(245, 245, 245, 0.546);
  }

  button {
    width: 39px;
    font-weight: 600;
    border-left: none;
    border-top-right-radius: 10px;
    cursor: pointer;

    &:active {
      background-color: #006ecf;
    }
  }
}

.date-location {
  z-index: 1000;
  width: 280px;
  height: 100%;
  display: flex;
  justify-content: flex-end;

  .react-datepicker-wrapper {
    overflow: hidden;
    width: 181px;
    height: 30px;
    border: 3px solid #57728a;
    border-top-left-radius: 10px;
    box-shadow: -7px 0px 1.25px #113a5d95;
    transition: all 170ms ease;

    &:focus-within {
      transform: translate(-4px);
      border-right-color: #122c4395;
      box-shadow: -3px 0px 0.25px #113a5d;
    }

    .date-button-input {
      width: 100%;
      height: 24px;
      color: #f5f5f5dd;
      background: #003768;
      border: none;
      background: linear-gradient(
        90deg,
        rgba(0, 55, 104, 0.327) 0%,
        rgba(0, 55, 104, 1) 75%
      );
      padding-left: 10px;
      display: flex;
      align-items: center;
      transition: background-color 250ms ease;
      &:hover {
        background-color: #001b32;
      }
    }
  }

  button {
    height: 30px;
    width: 39px;
    font-weight: 600;
    color: rgba(245, 245, 245, 0.866);
    background-color: #003768;
    border: 3px solid #57728a;
    padding-top: 2px;
    cursor: pointer;
    &:hover {
      background-color: #001b32;
    }
    &:active {
      background-color: #006ecf;
    }
  }
}

#current-location {
  height: 30px;
  background-color: #003768;
  border: 3px solid #57728a;
  width: 46px;
  padding: 4px 3px 3px 3px;
  cursor: pointer;
  &:hover {
    background-color: #0937f1;
    transition: all 2500ms ease;

    #location-icon {
      filter: invert(100%);
    }
  }
  &:active {
    background-color: #006ecf;
  }

  #location-icon {
    filter: invert(90%);
    width: 16px;
    height: 16px;
    animation: 4s ease 0s normal forwards 1 iconFadeIn;
    -webkit-animation: 4s ease 0s normal forwards 1 iconFadeIn;
    -moz-animation: 4s ease 0s normal forwards 1 iconFadeIn;
    -o-animation: 4s ease 0s normal forwards 1 iconFadeIn;
    -ms-animation: 4s ease 0s normal forwards 1 iconFadeIn;
  }
}

#go-button-top {
  height: 30px;
  border-left: none;
  border-right: none;
}

#date-bottom {
  width: 220px;
  display: none;

  #go-button-bottom {
    border-right: 3px solid #57728a;
  }
}

.react-datepicker-popper {
  opacity: 75%;
  transition: opacity 150ms ease;

  &:hover {
    opacity: 90%;
  }

  .react-datepicker {
    border-color: rgb(103, 103, 123);
    right: 18px;
  }

  .react-datepicker__month-container {
    background-color: rgb(222, 222, 247);
    border-radius: 5px;
  }

  .react-datepicker__header {
    background-color: rgb(200, 200, 227);
    border-color: rgb(103, 103, 123);
  }
}

.leaflet-popup-content-wrapper {
  opacity: 85%;
  transition: opacity 100ms ease;

  &:hover {
    opacity: 95%;
  }
}

.github {
  height: 100%;
  padding-top: 3px;
  padding-left: 6px;
  display: flex;
  align-items: center;

  span {
    width: 125px;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif, "Courier New", Courier, monospace;
    font-size: 18px;
    font-weight: 100;
    padding-top: 1px;
    padding-left: 8px;
    height: 25px;
    opacity: 0;
  }
  &:hover span {
    transition: 3s opacity ease-out, 3s filter ease-out 2.1s;
    opacity: 100%;
    filter: blur(100px);
  }
}

@media only screen and (max-width: 805px) {
  #date-top {
    display: none;
  }

  #current-location {
    width: 38px;
  }

  #date-bottom {
    display: flex;

    .react-datepicker-wrapper {
      box-shadow: -7px 0px 1.45px #0a20357a;
      transition: none;

      &:focus-within {
        transform: none;
        box-shadow: -7px 0px 1.25px #0a203595;
        border-right: 3px solid #57728a;
      }
    }

    .react-datepicker-popper .react-datepicker {
      right: 50px;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .drawer-slide-in {
    width: 90%;
    left: -90.2vw;
  }
  .button-wrapper {
    left: 90vw;
    width: 35px;
    .drawer-button-icon {
      width: 150%;
    }
  }
}
@media only screen and (min-width: 1001px) {
  .drawer-slide-in {
    width: 45%;
    left: -45.1vw;
  }
  .button-wrapper {
    left: 44.9vw;
    width: 50px;
    .drawer-button-icon {
      width: 105%;
    }
  }
}
@media only screen and (max-width: 480px) {
  .map-main {
    // height: 91vh;
    height: 88%;
  }
  .leaflet-control-container {
    visibility: hidden;
  }
  .github {
    padding-left: 6px;
    scale: 0.9;
  }
  .title-container {
    padding: 12px 0 14px 0;
  }
  .controls-top {
    margin-bottom: 10px;
    width: 100%;
  }
}
@media only screen and (max-width: 551px) {
  #author-hover {
    display: none;
  }
  .drawer-left-container {
    padding-left: 2px;
  }
}
@media only screen and (min-width: 552px) {
  .drawer-left-container {
    padding-left: 15px;
  }
}

////////////////////////////////
/////  Title Fade
/////////////////////////////

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

////////////////////////////////
/////  Icon Fade
/////////////////////////////

@keyframes iconFadeIn {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 55%;
  }
}

@-moz-keyframes iconFadeIn {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 55%;
  }
}

@-webkit-keyframes iconFadeIn {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 55%;
  }
}

@-o-keyframes iconFadeIn {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 55%;
  }
}

@-ms-keyframes iconFadeIn {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 55%;
  }
}

////////////////////////////////
/////  Drawer Fade
/////////////////////////////

@keyframes drawerButtonFadeIn {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 25%;
  }

  100% {
    opacity: 100%;
  }
}

@-moz-keyframes drawerButtonFadeIn {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 25%;
  }

  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes drawerButtonFadeIn {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 25%;
  }

  100% {
    opacity: 100%;
  }
}

@-o-keyframes drawerButtonFadeIn {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 25%;
  }

  100% {
    opacity: 100%;
  }
}

@-ms-keyframes drawerButtonFadeIn {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 25%;
  }

  100% {
    opacity: 100%;
  }
}

/* for Firefox */
@-moz-keyframes slideLeft {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes slideLeft {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-160%); // -125% for desktop
    -webkit-transform: translateX(-160%);
    transform: translateX(-160%);
  }
}
