.map-main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 4% 0 3.5% 0;
  color: whitesmoke;
  text-align: center;
  // letter-spacing: 0.25px;
  font-size: clamp(30px, 4.5vw, 55px);
  font-weight: 200;
}

.artist-list {
  width: 100%;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  li:first-child button {
    font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
    font-weight: 400;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    color: rgb(0, 0, 0);

    &:hover {
      background-color: #83bfff56;
    }
  }

  button {
    background-color: white;
    border: none;
    padding: 6px 10px;
    margin-top: 5px;

    &:hover {
      background-color: #72b6ff1f;
    }
  }
}

.controls-top {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 30px;
  margin-bottom: 20px;
  background: #003768;
  background: linear-gradient(90deg, rgb(0, 50, 93) 15%, rgba(27, 66, 101, 1) 46%, rgba(87, 114, 138, 1) 96%);
}

.controls-bottom {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 30px;
  margin-top: 20px;
  background: #003768;
  background: linear-gradient(90deg, rgba(87, 114, 138, 1) 7%, rgba(37, 73, 106, 1) 38%, rgb(0, 50, 93) 68%);
  display: flex;
  justify-content: flex-end;
}

.city-input {
  width: 100%;
  height: 100%;

  input,
  button {
    height: 100%;
    color: rgba(245, 245, 245, 0.969);
    font-weight: 600;
    background-color: #d6e5f100;
    border: 3px solid #57728a;
    padding-left: 6px;
    transition: background-color 300ms ease;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #001b32;
    }
  }

  ::placeholder {
    color: rgba(245, 245, 245, 0.699);
  }

  button {
    width: 39px;
    font-weight: 600;
    border-left: none;
    border-top-right-radius: 10px;

    &:active {
      background-color: #00539c;
    }
  }
}

.date-location {
  z-index: 1000;
  width: 280px;
  height: 100%;
  display: flex;
  justify-content: flex-end;

  .react-datepicker-wrapper {
    border: 3px solid #57728a;
    border-top-left-radius: 10px;
    overflow: hidden;
    width: 168px;

    .date-button-input {
      width: 100%;
      height: 24px;
      color: rgba(245, 245, 245, 0.969);
      background: #003768;
      background: linear-gradient(90deg, rgba(0, 55, 104, 0.327) 0%, rgba(0, 55, 104, 1) 75%);
      display: flex;
      align-items: center;
      border: none;
      transition: background-color 200ms ease;

      &:hover {
        background-color: #001b32;
      }
    }
  }

  button {
    height: 30px;
    width: 39px;
    font-weight: 600;
    color: rgba(245, 245, 245, 0.969);
    background-color: #003768;
    border: 3px solid #57728a;
    border-left: none;
    border-right: none;
    transition: background-color 200ms ease;

    &:hover {
      background-color: #001b32;
    }

    &:active {
      background-color: #00539c;
    }
  }
}

#current-location {
  height: 30px;
  background-color: #003768;
  border: 3px solid #57728a;
  width: 39px;
  padding: 4px 3px 3px 3px;
  transition: background-color 300ms ease;

  &:hover {
    background-color: #001b32;

    #location-icon {
      transition: opacity 1700ms ease;
      opacity: 100%;
    }
  }

  &:active {
    background-color: #00539c;
  }

  #location-icon {
    filter: invert(90%);
    opacity: 50%;
    width: 16px;
    height: 16px;
  }
}

#date-bottom {
  display: none;

  #go-button {
    border-right: 3px solid #57728a;
  }
}

.react-datepicker-popper {
  opacity: 75%;
  
  .react-datepicker {
    border-color: rgb(103, 103, 123);
  }
  .react-datepicker__month-container {
    background-color: rgb(211, 211, 236);
  }
  .react-datepicker__header  {
    background-color: rgb(186, 186, 210);
    border-color: rgb(103, 103, 123);
  }
}


@media only screen and (max-width: 805px) {
  #date-top {
    display: none;
  }

  #date-bottom {
    display: flex;
  }
}